<!-- additional info at the bottom of the page -->
<footer class="container">
    <div class="row">
        <!-- personal info and legal statement -->
        <section class="col-sm-4">
            <nav class="nav flex-column">
                <a href="/" class="navbar-brand">
                    <img src="{{ site.url }}/assets/images/logo.png" alt="Alex Kai" width="80px">
                </a>
                <!-- social links after article -->
                {% for social in site.social %}
                <a href="{{ social.url }}" class="nav-link">{{ social.name }}</a>
                {% endfor %}
                <p>总计文章：{{ site.posts.size }}篇</p>
            </nav>
        </section>

        <!-- if is has tags, show related articles -->
        {% if page.tags %}
        <section class="col-sm-4">
            <h5>相关文章</h5>
            <nav class="nav flex-column">
                {% assign maxRelated = 4 %}
                {% assign minCommonTags =  1 %}
                {% assign maxRelatedCounter = 0 %}
                {% for post in site.posts %}
                {% assign sameTagCount = 0 %}
                {% assign commonTags = '' %}
                {% for tag in post.tags %}
                {% if post.url != page.url %}
                {% if page.tags contains tag %}
                {% assign sameTagCount = sameTagCount | plus: 1 %}
                {% capture tagmarkup %} <span>{{ tag }}</span> {% endcapture %}
                {% assign commonTags = commonTags | append: tagmarkup %}
                {% endif %}
                {% endif %}
                {% endfor %}
                {% if sameTagCount >= minCommonTags %}
                <a class="nav-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                {% if maxRelatedCounter >= maxRelated %}
                {% break %}
                {% endif %}
                {% endif %}
                {% endfor %}
            </nav>
        </section>
        <!--if has no tags, show something else -->
        {% else %}
        <section class="col-sm-4">
            <h5>心情</h5>
        </section>
        {% endif %}

        <!-- recent articles -->
        <section class="col-sm-4">
            <h5>最新文章</h5>
            <nav class="nav flex-column">
                {% assign recent_post = (site.posts | sort: 'date') | reverse %}
                {% for post in recent_post limit: 4 %}
                <a class="nav-link" href="{{ post.url }}" >{{ post.title }}</a>
                {% endfor %}
            </nav>
        </section>

    </div>
</footer>