<header class="container">
  <!-- A grey horizontal navbar that becomes vertical on small screens -->
  <nav class="navbar navbar-expand-sm bg-light">
    <!-- Links -->
    <ul class="navbar-nav">
      {% for page in site.pages %}{% if page.title %}
      <li class="nav-item">
        <a class = "nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </li>
      {% endif %}{% endfor %}
      <a class = "nav-link" href="{{ "/blog" | prepend: site.baseurl }}">Blog</a>
    </ul>
  </nav>
</header>

