<header class="container">
    <h1>{{ page.title }}</h1>
    <div class="post-data">
        <time datetime="{{ page.date | date: '%F'}}">发布时间：{{ page.date | date: "%F"}}
        </time>
        <a href="/tags#{{ page.category }}" title="访问 {{ page.category }}"
           data-hover="博客分类: {{ page.category }}">博客分类: {{ page.category }}</a>
        <div class="post-tags">
            {% unless page.tags == empty %}
            {% for tag in page.tags %}
            <a href="/tags#{{ tag }}" title="访问{{ tag }}">
                 <span class="badge badge-pill badge-primary">{{ tag }}({{ site.tags[tag].size }})</span>
            </a>
            {% endfor %}
            {% endunless %}
        </div>
    </div>
</header>