<!-- navigation bar on top of the page -->
<nav class="navbar navbar-expand-md">
    <div class="container">
        <!-- navbar brand. customize the logo of yours in /assets/images/logo.png -->
        <a class="navbar-brand navbar-brand-top" href="/"><img src="/assets/images/logo.png" width="70px" alt="AlexKai"></a>
        <!-- TODO: search box for post -->
        <form class="form-inline search-box order-md-3">
            <input type="search" id="search-input" placeholder="Search" class="form-control" autocomplete="off">
            <div id="results-container" class="list-group results-container"></div>
        </form>
        <!-- toggle on small media device -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- nav-items, configured in _config.yml -->
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ml-auto">
                {% for item in site.nav-items %}
                <li class="nav-item">
                    <a class="nav-link text-nowrap" href="{% unless item.external %}{{ site.url }}{% endunless %}{{ item.url }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</nav>