<div class="profile">
    <a class="avatar-link" href="{{site.url}}">
        <img class="avatar"  src="/assets/images/profile.jpg" alt="Alex Kai " title="前往Alex的主页">
    </a>

    <h1 class="profile-title">
        Alex Kai
    </h1>

    <div class="quote">
        <img src="/assets/images/quote-grey.png" class="img-fluid" style="width: 4rem">
    </div>

    <hr>

    <p>嗨，我是董凯旗.</p>
    <p>欢迎来到我的博客.</p>

    <hr>

    <div class="social-icons">
        <a href="{{ site.social.facebook.url }}" title="facebook" class="fa fa-facebook"></a>
        <a href="#{{ site.social.twitter.url }}" title="twitter" class="fa fa-twitter"></a>
        <a href="#{{ site.social.github.url }}" title="github" class="fa fa-github"></a>
        <a href="#{{ site.social.gmail.url }}" title="邮箱" class="fa fa-envelope"></a>
    </div>

</div>