.card {
  .card-body {
    a {
      text-decoration: none;
    }
    h2 {
      color: black;
      font-size: 1.1rem;
      &:hover {
        color: orange;
      }
    }
  }
  .card-footer {
    a {
      text-decoration: none;
      color: grey;
      &:hover {
        color: orange;
      }
    }
  }
  &:hover {
  }
}
