$font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
$font-family-base: $font-family;
$article-font-size: 1.2rem;
$article-line-height: 1.5rem;
$article-h2-font-size: 1.5rem;
$article-font-color: lightgray;
@import "../node_modules/bootstrap/scss/bootstrap";
