---
---

@import "variables";
@import "hover-effect";
@import "section-nav-aside";
@import "card-book";
@import "bootstrap/scss/bootstrap";

body {
  position: relative;

  nav {
    margin-bottom: 1rem;
  }

  .post-tags {
    .badge.badge-pill>a {
      color: white;
    }
    .badge.badge-pill:nth-child(1n) {background: #6fa3ef;}
    .badge.badge-pill:nth-child(2n) {background: #ff9800;}
    .badge.badge-pill:nth-child(3n) {background: #46c47c;}
    .badge.badge-pill:nth-child(4n) {background: #f9bb3c;}
    .badge.badge-pill:nth-child(5n) {background: #bc99c4;}
    .badge.badge-pill:nth-child(6n) {background: #e8583d;}

  }

  main {
    header {
      margin-bottom: 1rem;
    }

    article {
      font-size: 1.2rem;
      line-height: 2.0rem;
      & > blockquote {
        @extend .blockquote;
      }
      & > table {
        @extend .table;
        @extend .table-hover;
        thead {
          @extend .thead-light;
        }
      }
      pre {
        background: #f4f4f4;
        padding: 1rem;
      }
      & > h2, & > h3, & > h4, & > h5, & > h6 {
        @extend .text-muted;
        &::before {
          content: '# ';
          color: coral;
        }
      }
      & > p > img {
        @extend .img-fluid;
        @extend .img-thumbnail;
      }
    }
    & > footer {

    }
  }
}

.card-columns {
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}