<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body data-spy="scroll" data-target="#section">
{% include nav.html %}
{% include section-nav-aside.html %}
<main class="container">
    {% include header.html %}
    <hr>
    <article>
        {{ content }}
    </article>
    <hr>
    <footer class="post-info">
        {% if page.reprint-from %}
        本文转载自<a href="{{page.reprint-from}}"> {{page.reprint-from}}</a><br>
        {% else %}
        本文由 <a href="/about">{{site.signoff}}</a> 创作，采用
        <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="external nofollow">知识共享署名4.0</a>
        国际许可协议进行许可<br>
        {% endif %}
        本站文章除注明转载/出处外，均为本站原创或翻译，转载前请务必署名<br>
        最后编辑时间为: {{page.date | date: "%F %H:%M:%S"}}
    </footer>
</main>
{% include footer.html %}
<script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/node_modules/popper.js/dist/umd/popper.js' | prepend: site.baseurl}}"></script>
<script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
<script>
    $(document).ready(function(){
        var html = '';
        $('article>h2').each(function (i) {
            if(this.id)
                html += '<a class="nav nav-link" href="#' + this.id + '">' + this.innerHTML + '</a>\n';
        });
        $('#section-nav-aside').html(html);
    });
</script>
</body>
</html>


